include inc/head
    include inc/nav

    section
        .info.notice
            h1 The Founder
            h6 a dystopian business-simulator

    section
        .info
            h3 Bootstrap your dream company.
            p It's 2001. Start modestly from your apartment and build up your startup alongside the major players and future technology behemoths.
        figure
            img(src="/assets/images/bootstrap.png", width="500")

    section
        .info
            h3 Assemble the best talent.
            p But don't spend too much. With nice perks and benefits, you can attract the most skilled workers at below-market rates. How low can you go?
        figure
            img(src="/assets/images/employees.png", width="440")

    section
        .info
            h3 Disrupt legacy industries.
            p In the wake of the dot-com bubble burst, the entrepreneurial landscape is ripe for revolution and fresh ideas. Innovate by combining different kinds of products - you never know what might take off!
        figure
            ul.list__horizontal__center
                li
                    img(src="/assets/gifs/information.gif", width="180")
                    figcaption Information
                li
                    img(src="/assets/gifs/hardware.gif", width="180")
                    figcaption Hardware
                li
                    img(src="/assets/gifs/biotech.gif", width="180")
                    figcaption Biotech
                li
                    img(src="/assets/gifs/defense.gif", width="180")
                    figcaption Defense
                li
                    img(src="/assets/gifs/finance.gif", width="180")
                    figcaption Finance
                li
                    img(src="/assets/gifs/entertainment.gif", width="180")
                    figcaption Entertainment

    section
        .info
            h3 Research groundbreaking technologies.
            p It's your responsibility to usher in new eras of technological progress.
        figure
            ul.list__horizontal__center
                li
                    img(src="/assets/images/techs_1.png", width="280").icons
                li
                    img(src="/assets/images/techs_2.png", width="280").icons

    section
        .info
            h3 Hype your company to cult-like status.
            p You don't just make products. You aren't just a company. You are a way of life. Mold public opinion towards your company through key influencers and promotional campaigns.
        figure
            ul.list__horizontal__center
                li
                    img(src="/assets/images/hype_1.png", width="180")
                li
                    img(src="/assets/images/hype_2.png", width="360").icons

    section
        .info
            h3 Grow, grow, grow.
            p And never stop. Expand to new locations, acquire other companies, reach for the stars. Your shareholders demand relentless expansion and profit. Satisfy them or be forced to resign.
        figure
            img(src="/assets/images/growth.png", width="500")

    section
        .info
            h3 Change the world.
            p Everything you do has a consequence. With your revolutionary new products, you have the power to shape a brave new world - one in which every facet serves your ceaseless expansion.
        figure
            img(src="/assets/gifs/earth.gif", width="320")

    section
        .notice
            h2 <a href="/play">Try the early alpha</a>
            p You can <a href="/art">view the game art here</a>.

    include inc/foot
