include inc/head
    include inc/nav

    section
        .info
            h1 The Founder
            h6 a dystopian business-simulator

    section
        .info
            h3 Disrupt legacy industries.
            p It's 2001. In the wake of the dot-com bubble burst, the entrepreneurial landscape is ripe for revolution and fresh companies.

    section
        .info
            h3 Research groundbreaking technologies.
            p Lorem ipsum

    section
        .info
            h3 Change the world.
            p Your revolutionary new products will leave their lasting mark on the world. Shape the world for your ceaseless expansion.

    include inc/foot
