footer Copyright © 2015-2017 <a href="https://twitter.com/frnsys">Francis Tseng</a> + <a href="http://publicscience.co/">Public Science</a>

script(type="text/javascript",src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.slim.min.js")
script(type="text/javascript",src="/js/colorscroll.js")
script(type="text/javascript",src="/js/main.js")
