footer Copyright © 2015-2016 <a href="https://twitter.com/frnsys">Francis Tseng</a> + <a href="http://publicscience.co/">Public Science</a>

script(type="text/javascript",src="/js/vendor/bower/requirejs/require.js",data-main="/js/main")
